<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" method="post">
    {{ form.csrf_token }}
    {{ form.author.label }}{{ form.author }}<br>
    {{ form.book.label }}{{ form.book }}<br>
    {{ form.submit }}
</form>
<hr>
<ul>
    {% for datum in data %}
        <li>{{ datum.name }}  <a href="{{ url_for('delete_author', author_id=datum.id) }}">删除</a></li>
        <ul>
            {% for book in datum.books %}
                <li>{{ book.name }}  <a href="{{ url_for('delete_book', book_id=book.id) }}">删除</a></li>
            {% endfor %}
        </ul>
    {% endfor %}


</ul>
</body>
</html>